




.open-sans-primary {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* Share css */
  .secondary-background{
    background-color: #FFF8F3;
  }
  .dark1{
    color: #181818;
  }
  .dark2{
    color: #474747;
  }
  .dark3{
    color: #757575;
  }
  .text-primary{
    color: #FD6E0A;
  }

  .primary-btn{
    background-color: #FD6E0A;
    font-weight: bold;
    color: #ffff;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color:#181818
  }
  .section-description{
    font-size: 18px;
    font-weight: regular;
    color: #757575;
  }
  /* Nav */

  nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
  }

  nav h3{
    font-weight: bold;
    font-size: 45px;
  }


  nav ul{
    display: flex;
    align-items: center;
  }

  nav ul li{
    list-style: none;
    margin-right: 50px;
  }
  nav ul li a{
    font-size: 20px;
    text-decoration: none;
  }
/* Header */
header{
    background-image: url("images/header_bg.png"),url("images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left top;
}
  /* Hero Section */
  .hero{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
  }
  .hero-content{
    max-width: 580px;
  }
  .hero-subtitle{
    font-weight: bold;
    font-size: 45px;
  }
  .hero-title{
    font-weight: bold;
    font-size: 84px;
  }
  .hero-description{
    font-size: 18px;
  }
  .hero-image{
    width: 580px;
  }

  /* About Section */
  .about{
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
    margin: 50px 0;
  }
  .about-items{
    display: flex;
    justify-content: space-between;
  }
  .item-desc{
    font-size: 20px;
    font-weight: bold;
  }
  .item-title{
    font-size: 20px;
  }
  /* main */
  main{
    max-width: 1140px;
    margin: 0 auto;
  }

  /* Skill section */

  .skills{
   
    padding: 130px 0px;
    margin: 50px 0;
  }
  .skill-items{
    display: flex;
    gap: 24px;
    margin-top: 50px;
    
  }
  .skill-item{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  }
  .skill-item img{
    
  }
  .skill-item h3{
    
  }
  .skill-item p{
    
  }

  /* Resume section */

  .resume-container{
    display: flex;
    gap: 24px;
  }
  .education-title,
  .experience-title{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
  }
  .experience-title,.degree-title{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
  }
  .experience-subtitle,.degree-subtitle{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
  }
  .experience-desc.degree-desc{
    font-size: 16px;
    color: #757575;
  }

  .resume-btn{
    text-align: center;
    margin-top: 20px;
  }

            